<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en' }}">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ '/assets/css/mems.css' | relative_url }}">
</head>

<body class="mems-ana">
  <header class="page-header">
    <div class="wrapper">
      <h1 class="site-title">
        <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
      </h1>
      <p class="site-description">{{ site.description }}</p>
    </div>
  </header>

  <main class="main-container">
    {{ content }}
  </main>

  <footer class="page-footer">
    <div class="wrapper">
      © {{ site.time | date: "%Y" }} mems-ana
    </div>
  </footer>
</body>
</html>
